In [1]:
import csv
import pandas as pd
import os
from nltk.tokenize import sent_tokenize

In [2]:
csv_file = pd.read_csv('letters_sent_by_mg.csv')

In [31]:
file_list = csv_file.loc[(csv_file.year == 1931) & (csv_file.receiver_personality != 'NARANDAS GANDHI'), 'file_name'].tolist()

In [32]:
csv_file

,Unnamed: 0,file_name,month,day,year,receiver_personality
0,0,volume93_book_168.txt,March,17.0,1937.0,DR. GOPICHAND BHARGAVA
1,1,volume37_book_181.txt,August,7.0,1928.0,MIRABEHN
2,2,volume82_book_355.txt,December,22.0,1945.0,SHARAYU DHOTRE
3,3,volume38_book_489.txt,January,27.0,1929.0,PERIN CAPTAIN
4,4,volume76_book_262.txt,June,14.0,1942.0,C. RAJAGOPALACHARI
...,...,...,...,...,...,...
28526,28526,volume93_book_330.txt,October,1.0,1938.0,PYARELAL
28527,28527,volume43_book_305.txt,April,23.0,1930.0,BRIJKRISHNA CHANDIWALA
28528,28528,volume35_book_42.txt,September,30.0,1927.0,RAMDAS GANDHI
28529,28529,volume6_book_206.txt,November,17.0,1906.0,G. J. ADAM
28530,28530,volume36_book_125.txt,March,16.0,1928.0,MADHUSUDAN DAS

# This is for extracting letters from CWMG data

In [35]:
significant_letters = []
for file in file_list:
    with open(str(os.path.join('text_files_combined', file)), 'r', encoding="utf8") as content:
        raw_data = content.read()
        if len(raw_data.split()) >= 500:
            significant_letters.append([file, raw_data])

In [36]:
len(significant_letters)

34

In [39]:
index = 33
significant_letters[index][0]

'volume47_book_93.txt'

# For Abraham Lincoln data

In [2]:
# raw_text = significant_letters[index][1]
# significant_letters[index][1]

with open('data/abraham_lincoln/file_volume3.txt', 'r') as content:
    raw_text = content.read()

In [3]:
sentences = sent_tokenize(raw_text)
# sentences = filter(lambda word: word not in '.', sentences)
sentences = [item for item in sentences[1:] if len(item.split()) > 3]
sentences = [item.replace('-\n', '') for item in sentences]
sentences = [item.replace('\n', ' ') for item in sentences]

In [4]:

with open('sentence.csv', 'w', encoding='utf-8') as file:
    for line in sentences:
#         writer.writerow(line)
        file.write(line)
        file.write('\n')